/* register.css */
.div{
  height: 100vh;
}
.button{
  display: flex;
  
}
section {
    max-width: 500px;
    margin: 0 auto;
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h1 {
    margin-top: 0;
    font-size: 2rem;
    text-align: center;
  }
  
  form {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-row-gap: 20px;
  }
  
  label {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }
  
  input[type="text"],
  input[type="password"] {
    font-size: 1.2rem;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .valid {
    color: green;
    margin-left: 10px;
  }
  
  .invalid {
    color: red;
    margin-left: 10px;
  }
  
  
  .errmsg {
    font-size: 1.2rem;
    color: red;
    margin-bottom: 10px;
  }
  
  .offscreen {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

  

  #uidnote {
    position: relative;
    display: inline-block;
}

.info-text {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 5px);
    z-index: 1;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
}

#uidnote:hover .info-text {
    opacity: 1;
    visibility: visible;
}
button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }


button {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    justify-content: center;
  }
  
  button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  button:hover svg {
    transform:  rotate(45deg) scale(1.1);
  }
  
    /* button:hover span {
    transform: translateX(5em);
  }  */
  
  button:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  
      